section.facts-container {
  background: red;
  background-image: url( '../images/Brick_BG.jpg');
  background-repeat: repeat;
  width: 100vw;
  // background-size: cover;
  // height: 100vh;
  padding-top: 100px;
  .container {
    background: rgba(255, 255, 255, .8);
    box-shadow: 1px 1px 5px #838383;
    padding: 40px 0;
    .row {
      .facts-thumb {
        // background: #000;
        height: 200px;
        overflow: hidden;
        margin-bottom: 30px;
        cursor: pointer;
        img {
          height: 100%;
          width: 100%;
        }
      }
      h1 {
        text-align: center;
      }
      p {
        text-align: justify;
      }
      hr {
        height: 1px;
        margin-top: 20px;
        background: #000;
        width: 60%;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
      }
      h3 {
        text-align: center;
      }
      .quote {
        text-align: center;
        margin-top: 30px;
      }
      .author {
        text-align: center;
      }
    }
  }
}
