section.fringe-post-container {
  background: url( '../images/Brick_BG.jpg');
  background-repeat: repeat;
  // background-size: cover;
  min-height: 100vh;
  padding-top: 100px;
  .container {
    background: rgba(255, 255, 255, .8);
    box-shadow: 1px 1px 5px #838383;
    padding: 30px;
  }
}
